$app_blue:  #00bfee;
$app_black: #061a30;
$app_white: #fff;
$app_grey: #fafafa;
$app_red: #e62664;
$app_green: #39b549;
$app_dark_grey: #777;
$app_off: #c9c9c9;

$z_index_navbar: 500;
$z_index_search: $z_index_navbar;
$z_index_page_button: $z_index_navbar;
$z_index_layout_overlay: 1000;
$z_index_menu_close: 2000;
$z_index_filter_panel: 3000;
$z_index_modal: 4000;