.MyAddresses {
    @include display-flex;
    @include flex-direction(column);
    &-item {
        @include display-flex;
        @include align-items(center);
        background-color: $app_grey;
        padding: 15px;
        @include border-radius(14px);
        &:not(:first-child) {
            margin-top: 15px;
        }
        &-content {
            @include flex(1);
            @include display-flex;
            @include flex-direction(column);
            &-name {
                font-size: 1.2rem;
                color: $app_dark_grey;
            }
            &-address {
                font-size: 1.5rem;
                color: $app_black;
            }
        }
        &-icon {
            padding: 15px;
        }
    }
}