.MyPaymentMethods {
    @include display-flex;
    @include flex-direction(column);
    &-item {
        @include flex-center;
        background-color: $app_grey;
        @include border-radius(14px);
        padding: 10px 15px;
        &:not(:first-child) {
            margin-top: 15px;
        }
        &-icon {
            &:first-child {
                margin-right: 10px;
            }
            &:last-child {
                height: 100%;
                padding: 0 15px;
            }
        }
        &-content {
            @include flex(1);
            &-creditCardTitle {
                font-size: 1.2rem;
                color: $app_dark_grey;
                line-height: 1;
            }
            &-creditCardNumbers {
                font-size: 1.4rem;
                color: $app_black;
                line-height: 1;
                margin-top: 3px;
            }
        }
    }
}