.OrderDetail {
    &-title {
        font-size: 1.6rem;
        color: $app_black;
        text-align: center;
        strong {
            font-weight: 600;
        }
    }
    &-card {
        &:not(:first-child) {
            margin-top: 15px;
        }
        padding: 15px;
        &--noPaddingBottom {
            padding-bottom: 0;
        }
        @include display-flex;
        @include flex-direction(column);
        background-color: $app_grey;
        @include border-radius(14px);
        @include box-shadow(0px 4px 4px rgba(#000, 0.05));
        &-title {
            font-size: 1.6rem;
            color: $app_dark_grey;
        }
        &-text {
            margin-top: 5px;
            font-size: 1.6rem;
            color: $app_black;
        }
        &-steps {
            @include display-flex;
            @include flex-direction(column);
            margin-top: 15px;
            &-item {
                padding-top: 10px;
                padding-bottom: 10px;
                @include flex-center;
                &--on {
                    .OrderDetail-card-steps-item-icon {
                        background-color: $app_green;
                    }
                    .OrderDetail-card-steps-item-content-title {
                        color: $app_black;
                    }
                    &:after {
                        background-color: $app_green !important;
                    }
                }
                position: relative;
                height: 70px;
                &:not(:first-child) {
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 50%;
                        left: 25px;
                        width: 1px;
                        height: 100%;
                        background-color: $app_dark_grey;
                        z-index: 1;
                    }
                }
                &-icon {
                    z-index: 2;
                    margin: 0 15px;
                    width: 20px;
                    height: 20px;
                    @include border-radius(50%);
                    background-color: $app_dark_grey;
                }
                &-content {
                    @include flex(1);
                    @include display-flex;
                    @include flex-direction(column);
                    &-title, &-subtitle {
                        font-size: 1.6rem;
                        color: $app_dark_grey;
                    }
                    &-subtitle {
                        font-weight: 600;
                    }
                }
            }
        }
        &-paymentMethod {
            margin-top: 10px;
            background-color: $app_white;
            @include border-radius(14px);
            @include display-flex;
            @include align-items(center);
            height: 56px;
            padding: 0 10px;
            &-icon {
                margin-right: 10px;
            }
            &-content {
                @include display-flex;
                @include flex-direction(column);
                &-title {
                    font-size: 1.2rem;
                    color: $app_dark_grey;
                    line-height: 1;
                }
                &-subtitle {
                    font-size: 1.4rem;
                    color: $app_black;
                    line-height: 1;
                    margin-top: 3px;
                }
            }
        }
        &-button {
            margin-top: 15px;
            @extend .Button--reset;
            color: $app_white;
            background-color: $app_red;
            @include border-radius(14px);
            @include box-shadow(0 4px 4px rgba($app_red, 0.1));
            height: 46px;
            @include display-flex;
            width: 100%;
            font-size: 1.8rem;
            @include flex-center;
        }
        &-table {
            padding: 5px 0;
            @include display-flex;
            @include flex-direction(column);
            &-line {
                @include display-flex;
                @include align-items(center);
                @include justify-content(space-between);
                height: 35px;
                font-size: 1.4rem;
                color: $app_black;;
                &--total {
                    color: $app_black;
                    text-transform: uppercase;
                    font-weight: 600;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #f4f4f4;
                }
            }
        }
    }
}