.Orders {
    @include display-flex;
    @include flex-direction(column);
    &-item {
        @include display-flex;
        @include flex-direction(column);
        &:not(:first-child) {
            margin-top: 15px;
        }
        background-color: $app_grey;
        @include border-radius(14px);
        &--opened {
            .Orders-item-header-trigger {
                @include transform(rotate(90deg));
            }
        }
        &-header {
            @include display-flex;
            @include align-items(center);
            padding: 15px;
            &-text {
                @include flex(1);
                @include display-flex;
                @include flex-direction(column);
                &-title {
                    @include text-overflow-ellipsis;
                    color: $app_black;
                    font-size: 1.6rem;
                    strong {
                        font-weight: 600;
                    }
                }
                &-reference {
                    font-size: 1.4rem;
                    color: $app_dark_grey;
                }
            }
            &-trigger {
                @include transform-origin(center);
                @include transition(all .3s ease-in-out);
            }
        }
        &-subOrders {
            padding: 15px;
            padding-top: 0;
            display: none;
            &-item {
                padding: 15px;
                background-color: $app_white;
                @include border-radius(14px);
                @include box-shadow(0 4px 4px rgba(#000, 0.04));
                &:not(:first-child) {
                    margin-top: 15px;
                }
                &-title {
                    color: $app_black;
                    font-size: 1.2rem;
                    text-align: center;
                    strong {
                        font-weight: 600;
                    }
                    padding-bottom: 15px;
                    border-bottom: 1px solid #fafafa;
                }
                &-content {
                    @include flex-center;
                    &-items {
                        @include flex(1);
                        @include display-flex;
                        @include flex-direction(column);
                        &-item {
                            @include display-flex;
                            @include align-items(center);
                            padding: 10px 0;
                            &:not(:last-child) {
                                border-bottom: 1px solid #fafafa;
                            }
                            &-image {
                                width: 15vw;
                                margin-right: 15px;
                                img {
                                    max-width: 100%;
                                }
                            }
                            &-content {
                                @include flex(1);
                                @include display-flex;
                                @include flex-direction(column);
                                @include justify-content(space-around);
                                &-title {
                                    font-size: 1.7rem;
                                    color: $app_black;
                                    @include text-overflow-ellipsis;
                                    span {
                                        color: $app_blue;
                                    }
                                }
                                &-quantity {
                                    color: $app_dark_grey;
                                    font-size: 1.2rem;
                                }
                                &-price {
                                    font-size: 1.4rem;
                                    color: $app_black;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    &-arrowButton {
                        padding: 15px;
                    }
                }
            }
        }
    }
};