.CartSummary {
    margin: 15px;
    margin-bottom: 0;
    padding: 15px 0;
    @include display-flex;
    @include flex-direction(column);
    background-color: $app_white;
    @include box-shadow(0 4px 4px rgba(#000, 0.02));
    @include border-radius(14px);
    &-item {
        &:not(:first-child) {
            padding-top: 15px;
        }
        @include display-flex;
        &-image {
            width: 25vw;
            img {
                max-width: 80%;
            }
        }
        &-content {
            @include flex(1);
            padding-right: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $app_grey;
            @include display-flex;
            @include flex-direction(column);
            &-top {
                @include display-flex;
                position: relative;
                &-title {
                    @include flex(1);
                    font-size: 1.7rem;
                    color: $app_black;
                    font-weight: 600;
                    @include text-overflow-ellipsis();
                }
                &-remove {
                    @extend .Button--reset;
                    padding: 15px;
                    padding-top: 0;
                    padding-right: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &-subtitle {
                font-size: 1.3rem;
                color: $app_dark_grey;
                font-weight: 600;
            }
            &-merchant {
                font-size: 1.3rem;
                color: $app_blue;
                @include text-overflow-ellipsis();
                text-decoration: underline;
            }
            &-bottom {
                @include display-flex;
                &-quantity {
                    @include flex(1);
                    @include display-flex;
                    @include align-items(center);
                    &-action {
                        @include flex-center;
                        width: 18px;
                        height: 18px;
                        @include border-radius(50%);
                        background-color: $app_white;
                        border: 1px solid #f3f3f3;
                    }
                    &-value {
                        margin: 0 15px;
                        font-size: 2rem;
                        color: $app_black;
                        font-weight: 600;
                    }
                }
                &-price {
                    font-size: 2rem;
                    color: $app_black;
                    font-weight: bold;
                }
            }
        }
    }
    &-total {
        @include align-self(flex-end);
        background-color: $app_blue;
        padding: 10px 15px;
        margin-top: 15px;
        margin-right: 15px;
        color: $app_white;
        @include border-radius(14px);
        &-caption {
            font-size: 1.3rem;
            line-height: 1.5;
        }
        &-value {
            line-height: 1;
            font-size: 2rem;
            font-weight: 600;

        }
    }
}