.CartRadio {
    width: 100%;
    @include display-flex;
    @include flex-direction(column);
    @include border-radius(14px);
    overflow: hidden;
    margin: 0;
    padding: 10px 15px;
    padding-bottom: 0;
    background-color: $app_grey;
    &--off {
        .CartRadio-content-label-content-text {
            color: $app_dark_grey;
        }
        .CartRadio-content-radio {
            display: none;
        }
    }
    &:not(:first-child) {
        margin-top: 15px;
    }
    &-subContent {
        display: none;
        padding: 10px 0;
        border-top: 1px solid #f2f2f2;
        background-color: $app_grey;
    }
    &-content {
        @extend .Radio;
        @include align-items(center);
        background-color: $app_grey;
        padding-bottom: 10px;
        &-radio {
            @extend .Radio-radio;
            @include order(2);
            border-color: $app_blue;
        }
        &-input {
            @extend .Radio-input;
            // &:checked ~ .CartRadio-content-label > .CartRadio-content-label-hiddenAddress {
            //     display: block;
            // }
        }
        &-label {
            @include order(1);
            @include flex(1);
            @include display-flex;
            @include flex-direction(column);
            &--withIcon {
                @include flex-direction(row);
                @include align-items(center);
            }
            &-name {
                font-size: 1.2rem;
                color: $app_dark_grey;
            }
            &-visibleAddress, &-hiddenAddress {
                font-size: 1.5rem;
                color: $app_black;
            }
            &-hiddenAddress {
                display: none;
            }
            &-icon {
                margin-right: 10px;
            }
            &-content {
                @include display-flex;
                @include flex-direction(column);
                &-text {
                    font-size: 1.4rem;
                    color: $app_black;
                    line-height: 1;
                }
                &-price {
                    font-size: 1.7rem;
                    font-weight: 600;
                    color: $app_red;
                    line-height: 1;
                    margin-top: 3px;
                }
                &-creditCardTitle {
                    font-size: 1.2rem;
                    color: $app_dark_grey;
                    line-height: 1;
                }
                &-creditCardNumbers {
                    font-size: 1.4rem;
                    color: $app_black;
                    line-height: 1;
                    margin-top: 3px;
                }
            }
        }
    }
}