.CartCard {
    background-color: $app_white;
    @include display-flex;
    @include flex-direction(column);
    @include box-shadow(0 4px 4px rgba(#000, 0.02));
    @include border-radius(14px);
    margin: 15px;
    margin-bottom: 0;
    &--opened {
        .CartCard-header-trigger {
            @include transform(rotate(90deg));
        }
    }
    &-header {
        padding: 15px;
        height: 65px;
        @include display-flex;
        @include align-items(center);
        position: relative;
        &--withBackLink {
            .CartCard-header-title {
                text-align: center;
            }
        }
        &-title {
            color: $app_black;
            font-size: 1.8rem;
            @include flex(1);
            @include text-overflow-ellipsis;
        }
        &-trigger {
            @include transform-origin(center);
            @include transition(all .3s ease-in-out);
        }
        &-backLink {
            @include flex-center;
            padding: 15px;
            height: 65px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-content {
        display: none;
        padding: 15px;
        border-top: 1px solid $app_grey;
    }
    &-table {
        padding: 5px 15px;
        @include display-flex;
        @include flex-direction(column);
        &-line {
            @include display-flex;
            @include align-items(center);
            @include justify-content(space-between);
            height: 35px;
            font-size: 1.4rem;
            color: $app_dark_grey;
            &--total {
                color: $app_black;
                text-transform: uppercase;
                font-weight: 600;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $app_grey;
            }
        }
    }
    &-button {
        @extend .Button--reset;
        @include display-flex;
        @include align-items(center);
        @include border-radius(14px);
        background-color: $app_blue;
        margin-top: 15px;
        height: 58px;
        width: 100%;
        padding: 15px;
        &--noMarginTop {
            margin-top: 0;
        }
        &-text {
            @include flex(1);
            color: $app_white;
            font-size: 1.6rem;
            text-align: left;
        }
        &-icon {

        }
    }
}