.Form {
    &-text {
        text-align: center;
        color: $app_black;
        font-size: 1.6rem;
        margin-bottom: 15px;
        strong {
            font-weight: 600;
        }
        &--borderBottom {
            border-bottom: 1px solid $app_grey;
            padding-bottom: 5px;
        }
    }
    &-field {
        @include display-flex;
        @include flex-direction(column);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &-input {
            @include display-flex;
            background-color: $app_grey;
            @include border-radius(14px);
            height: 46px;
            padding: 0 15px;
            position: relative;
            &--withLeftIcon {
                label {
                    left: 51px !important;
                }
                input {
                    margin-left: 10px !important;
                }
            }
            &--withRightIcon {
                input {
                    margin-right: 10px !important;
                }
            }
            img {
                max-width: 26px;
            }
            label {
                position: absolute;
                top: 14px;
                font-size: 1.5rem;
                left: 15px;
                height: 16px;
                color: $app_dark_grey;
                margin: 0;
                pointer-events:none;
                @include transition(all .2s ease-in-out);
                span {
                    color: $app_red;
                }
            }
            input {
                @include flex(1);
                color: $app_black;
                font-size: 1.5rem;
                font-weight: 600;
                background-color: transparent;
                border: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                &:focus, &.not_empty, &.ng-dirty {
                    padding-top: 20px;
                    outline: none;
                }
                &:focus ~ label, &.not_empty ~ label, &.ng-dirty ~ label {
                    top: 5px;
                    font-size: 1.2rem;
                }
            }
        }
        &-error {
            color: $app_red;
            font-size: 1.5rem;
            margin-top: 5px;
            margin-left: 5px;
        }
    }
    &-button {
        @extend .Button--reset;
        margin-top: 15px;
        background-color: $app_red;
        color: $app_white;
        @include border-radius(14px);
        height: 46px;
        @include flex-center;
        width: 100%;
        font-size: 1.5rem;
    }
    &-links {
        @include display-flex;
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;
        margin-top: 15px;
        &-item {
            @extend .Button--reset;
            color: $app_black;
            font-size: 1.4rem;
            text-decoration: underline;
        }
    }
}