.PaymentForm {
    margin-bottom: 5px;
    &-item {
        @include display-flex;
        @include align-items(center);
        background-color: $app_white;
        height: 46px;
        padding: 0 15px;
        @include border-radius(14px);
        @include box-shadow(0px 2px 4px rgba(#000, 0.02));
        &-icon {
            margin-right: 10px;
            img {
                width: 19px;
            }
        }
        &-input {
            @include flex(1);
            input {
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;
                color: $app_black;
                font-size: 1.4rem;
                outline: none;
            }
        }
    }
}