.PaymentMethodSelector {
    @include display-flex;
    @include flex-direction(column);
    &-title {
        color: $app_black;
        font-size: 1.4rem;
    }
    &-title, &-options {
        &:not(:first-child) {
            margin-top: 15px;
        }
    }
}