.RelayPointSelector {
    @include display-flex;
    @include flex-direction(column);
    &-map {
        margin-top: 5px;
        width: 100%;
        height: 43vw;
        background-color: $app_blue;
        @include border-radius(14px);
    }
    &-relay {
        padding: 15px;
        margin-top: 15px;
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        background-color: $app_white;
        @include border-radius(14px);
        @include box-shadow(0 4px 4px rgba(#000, 0.02));
        &-title {
           font-size: 1.5rem;
           font-weight: 600;
           color: $app_red;
        }
        &-address, &-schedule {
            margin-top: 15px;
            font-size: 1.3rem;
            text-align: center;
        }
        &-address {
            color: $app_black;
        }
        &-schedule {
            color: $app_dark_grey;
        }
        &-button {
            margin-top: 15px;
            padding-top: 4px;
            @extend .Button--reset;
            @include flex-center;
            height: 32px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 1.5rem;
            color: $app_white;
            background-color: $app_blue;
            @include border-radius(14px);
            font-weight: 600;
        }
    }
}