.ShippingAddressSelector {
    @include display-flex;
    @include flex-direction(column);
    &-list {
        @include display-flex;
        @include flex-direction(column);
    }
    &-button {
        @extend .Button--reset;
        @include display-flex;
        @include align-items(center);
        @include border-radius(14px);
        background-color: $app_blue;
        margin-top: 15px;
        height: 58px;
        width: 100%;
        padding: 15px;
        &--noMarginTop {
            margin-top: 0;
        }
        &-text {
            @include flex(1);
            color: $app_white;
            font-size: 1.6rem;
            text-align: left;
        }
        &-icon {

        }
    }
}