.ShippingScheduleSelector {
    @include display-flex;
    @include flex-direction(column);
    padding-bottom: 5px;
    &-top {
        font-size: 1.4rem;
        color: $app_black;
        text-align: center;
    }
    &-bottom {
        margin-top: 10px;
        @include display-flex;
        &-item {
            background-color: $app_white;
            @include border-radius(14px);
            @include box-shadow(0 4px 4px rgba(#000, 0.02));
            @include display-flex;
            @include flex-direction(column);
            @include align-items(center);
            padding: 15px;
            @include flex(1);
            &:nth-child(1) {
                margin-right: 7px;
            }
            &:nth-child(2) {
                margin-left: 7px;
            }
            &-top {
                color: $app_black;
                font-size: 1.6rem;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 10px;
            }
            &-bottom {
                color: $app_blue;
                font-size: 2.8rem;
                line-height: 1;
            }
            select {
                // display: none;
            }
        }
    }
}