.StripeInfos {
    margin: 15px;
    margin-bottom: 0;
    @include flex-center;
    &-text {
        @include flex(1);
        font-size: 1.4rem;
        color: $app_black;
        margin-right: 15px;
    }
    &-logo {

    }
}