<!-- <mat-sidenav-container autosize = "true">
  <mat-sidenav #sidenav     position="end" [opened] = "isOpened()" (opened) = "setOpened(true)" (closed) = "setOpened(false)"  class = "bottom-to-top"  class="nav-active">
    <app-small-cart ></app-small-cart>
  </mat-sidenav>
  <mat-sidenav-content class = "fill-space"> -->

  <router-outlet></router-outlet>

  <!-- </mat-sidenav-content>
</mat-sidenav-container> -->
