.Footer {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    &-social {
        padding: 15px;
        @include display-flex;
        @include flex-direction(column);
        background-color: #00B8E5;
        &-title {
            color: $app_white;
            font-size: 1.5rem;
            text-align: center;
        }
        &-links {
            @include display-flex;
            @include justify-content(center);
            margin-top: 10px;
            &-item {
                margin: 0 10px;
            }
        }
    }
    &-partner {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        background-color: $app_blue;
        padding: 15px;
        &-logo {

        }
        &-title {
            margin-top: 15px;
            font-size: 1.5rem;
            text-align: center;
            color: $app_white;
        }
        &-button {
            @extend .Button--reset;
            @include flex-center;
            margin-top: 15px !important;
            font-size: 2rem;
            font-weight: 600;
            color: $app_black;
            background-color: $app_white !important;
            @include border-radius(14px);
            padding: 10px 30px !important;
        }
        &-separator {
            margin-top: 30px;
            height: 1px;
            width: 30vw;
            background-color: $app_white;
        }
    }
    &-links {
        @include display-flex;
        @include flex-direction(column);
        background-color: $app_blue;
        padding: 15px;
        &-top {
            @include display-flex;
            @include align-items(center);
            @include justify-content(space-around);
            &-item {
                @include flex(1);
                @include flex-center;
                img {
                    margin-right: 10px;
                }
                color: $app_white;
                &:hover, &:visited {
                    color: $app_white;
                }
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 1;
            }
        }
        &-bottom {
            @include display-flex;
            @include flex-wrap(wrap);
            margin-top: 10px;
            &-item {
                margin-top: 10px;
                @include display-flex;
                padding: 0 5px;
                text-align: left;
                width: calc((100vw - 30px) / 3);
                color: $app_white;
                font-size: 1.5rem;
                &:hover, &:visited {
                    color: $app_white;
                }
            }
        }
    }
}