.Header {
    height: 50px;
    padding: 0 18px;
    @include display-flex;
    @include align-items(center);
    &-menuToggle {
        margin-right: 18px;
        @include display-flex;
        @include flex-direction(column);
        width: 17px;
        span {
            position: relative;
            height: 2px;
            width: 100%;
            background-color: $app_black;
            @include border-radius(9px);
            @include transform-origin(left);
            @include transition(all .5s ease-in-out);
            &:nth-child(2) {
                width: 14px;
                margin: 6px 0;
                @include opacity(1);
            }
        }
        &--opened {
            z-index: $z_index_menu_close;
            span {
                background-color: $app_white;
                @include box-shadow(0px 4px 4px rgba(#000, 0.25));
                &:nth-child(1) {
                    @include transform(rotate(45deg));
                    width: 23px;
                }
                &:nth-child(2) {
                    @include transform(rotate(45deg));
                    @include opacity(0);
                    width: 0;
                }
                &:nth-child(3) {
                    @include transform(rotate(-45deg));
                    width: 23px;
                }
            }
        }
    }
    &-addressChoice {
        @include flex(1);
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        margin-right: 10px;
        width: 0;
        &-caption {
            font-size: 1.1rem;
            color: #777;
        }
        &-addressWrapper {
            @include display-flex;
            @include align-items(center);
            @include flex(1);
            &-address {
                font-size: 1.5rem;
                color: $app_black;
                @include text-overflow-ellipsis;
            }
            &-icon {
                margin-left: 5px;
            }
        }
    }
    &-toolbar {
        @include display-flex;
        @include align-items(center);
        &-item {
            height: 22px;
            position: relative;
            &:not(:last-child) {
                margin-right: 20px;
            }
            img {
                height: 100%;
            }
            &-badge {
                @include flex-center;
                position: absolute;
                top: -3px;
                right: -6px;
                width: 14px;
                height: 14px;
                background-color: $app_blue;
                color: $app_white;
                @include border-radius(50%);
                font-size: 1rem;
                padding-top: 2px;
                font-weight: bold;
            }
        }
    }
}