.Layout {
    position: relative;
    &-header {
    }
    &-content {
        // padding: 0 15px;
    }
    &-footer {
        
    }
    &-overlay {
        z-index: $z_index_layout_overlay;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        @include opacity(0);
        @include transition(all 1s ease-in-out);
        visibility: hidden;
        background-color: $app_blue;
        &--visible {
            visibility: visible;
            @include opacity(0.5);
        }
    }
}