.Sidebar {
    width: calc(100vw - 53px);
    background-color: $app_white;
    @include display-flex;
    @include flex-direction(column);
    height: 100%;
    &-item {
        outline: none;
        height: 56px;
        width: 100%;
        @include display-flex;
        @include align-items(center);
        border-bottom: 1px solid $app_grey;
        &--withBorderTop {
            border-top: 1px solid $app_grey;
        }
        &-icon {
            width: 55px;
            @include flex-center;
            &--famille {
                img {
                    height: 30px;
                }
            }
        }
        &-text {
            @include flex(1);
            font-size: 1.6rem;
            font-weight: 600;
            color: $app_black;
            @include text-overflow-ellipsis;
        }
        &-arrow {
            margin-right: 15px;
        }
    }
    &-spacer {
        @include flex(1);
    }
    &-partenaire {
        height: 56px;
        background-color: $app_red;
        @include display-flex;
        @include align-items(center);
        color: $app_white !important;
        font-size: 1.6rem;
        font-weight: 600;
        img {
            margin: 0 10px;
            @include align-self(flex-end);
        }
    }
}