.Banner {
    @include display-flex;
    @include flex-direction(column);
    margin-top: 15px;
    background-repeat: no-repeat;
    background-position: bottom left;
    @include background-size(cover);
    position: relative;
    &-image img {
        width: 100%;
    }
    &-content {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        height: 100%;
        padding: 14px;
        position: absolute;
        top: 0;
        left: 0;
        color: $app_black;
        width: 60%;
        &-title {
            font-size: 2.5rem;
            font-weight: 600;
            &--white {
                color: $app_white;
                @include text-shadow(0 4px 4px rgba(#000, 0.5));
            }
            &--blue {
                color: $app_blue;
            }
        }
        &-text {
            // font-size: 12px;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 10px 0;
            &--white {
                color: $app_white;
                @include text-shadow(0 4px 4px rgba(#000, 0.5));
            }
            &--blue {
                color: $app_blue;
            }
        }
        &-button {
            @include align-self(flex-start);
        }
    }
}