.Button {
    @include border-radius(5px);
    display: inline-block;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border: 0;
    outline: none;
    &:focus {
        outline: none;
    }
    &--reset {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        &:focus {
            outline: none;
        }
    }
    &--modal {
        @include border-radius(15px);
        font-size: 1.8rem;
        width: 100%;
        height: 45px;
    }
    &--bigger {
        height: 55px;
        font-size: 1.8rem;
        @include border-radius(14px);
    }
    &--red {
        background-color: $app_red;
        color: $app_white;
        @include box-shadow(0px 4px 4px rgba($app_red, 0.1));
    }
    &--blue {
        background-color: $app_blue;
        color: $app_white;
        @include box-shadow(0px 4px 4px rgba($app_blue, 0.1));
    }
    &--transparent {
        background-color: transparent;
        color: $app_black;
    }
    &--off {
        background-color: $app_off !important;
        @include box-shadow(none !important);
    }
}