$animation-duration: .5s;

@include keyframes(skelettonAnimation) {
    0% { @include opacity(0.5); }
    100% { @include opacity(1); }
}

.Categories {
    margin-top: 15px;
    @include display-flex;
    @include flex-wrap(nowrap);
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
    &-item {
        padding: 5px;
        outline: none;
        @include flex(0 0 auto);
        &:active {
        // &--active {
            background-color: $app_black;
            .Categories-item-text {
                color: $app_white;
            }
            .Categories-item-icon {
                &-activeIcon {
                    display: block;
                }
                &-defaultIcon {
                    display: none;
                }
            }
        }
        &:first-child {
            margin-left: 15px;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        @include flex-center;
        @include flex-direction(column);
        @include border-radius(14px);
        @include box-shadow(0 2px 4px rgba(#000, 0.03));
        background-color: $app_white;
        width: 23vw;
        height: 23vw;
        &-icon {
            @include flex(1);
            @include flex-center;
            margin: 2px 0;
            height: 0;
            &-defaultIcon, &-activeIcon {
                height: 100%;
            }
            &-defaultIcon {
                display: block;
            }
            &-activeIcon {
                display: none;
            }
        }
        &-text {
            color: $app_black;
            font-size: 1.1rem;
            font-weight: 600;
            @include text-overflow-ellipsis();
            width: 100%;
            text-align: center;
        }
        &--skeletton {
            > * {
                background-color: #f4f4f4;
                @include animation(skelettonAnimation, $animation-duration, ease-in-out, false, infinite, alternate);
            }
            .Categories-item-skeletton1 {
                @include border-radius(100%);
                width: 14vw;
                height: 14vw;
                margin-bottom: 5px;
            }
            .Categories-item-skeletton2 {
                width: 70%;
                height: 3vw;
                @include border-radius(5px);
            }
        }
    }
    &-spacer {
        @include flex(0 0 auto);
        width: 5px;
    }
}