.Checkbox {
    cursor: pointer;
    @include display-flex;
    @include align-items(flex-start);
    @include justify-content(center);
    background-color: #fff;
    margin: 0;
    &-checkbox {
        @include transition(all .5s ease-in-out);
        width: 20px;
        height: 20px;
        border: 1px solid #d9d9d9;
        background-color: $app_white;
        margin-right: 10px;
        position: relative;
        &:after {
            @include transition(all .5s ease-in-out);
            position: absolute;
            top: 3px;
            left: 3px;
            width: 12px;
            height: 12px;
            content: '';
            background-color: transparent;
        }
    }
    &-input {
        position: absolute;
        left: -9999px;
        &:checked + .Checkbox-checkbox {
            border-color: $app_blue;
            &:after {
                background-color: $app_blue;
            }
        }
    }
    &-label {
        @include flex(1);
        color: $app_black;
        font-size: 1.5rem;
        line-height: 1;
        margin-top: 3px;
        &--bigger {
            font-size: 1.7rem;
        }
    }
}