.ContentCard {
    @include display-flex;
    @include flex-direction(column);
    background-color: $app_white;
    @include border-radius(14px);
    @include box-shadow(0px 4px 4px rgba(#000, 0.02));
    padding: 15px;
    margin: 15px;
    margin-bottom: 0;
    &-separator {
        width: 100%;
        height: 1px;
        background-color: $app_grey;
    }
    h2, h3, h4, p, ul, ol, img, &-separator {
        margin-top: 10px;
    }
    h1 {
        color: $app_black;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }
    h2 {
        color: $app_red;
        font-size: 2.5rem;
    }
    h3 {
        color: $app_blue;
        font-size: 2.2rem;
    }
    h4 {
        color: $app_black;
        font-size: 2rem;
    }
    p {
        font-size: 1.8rem;
        color: $app_dark_grey;
    }
    ul, ol {
        list-style: none;
        padding-left: 0;
        li {
            font-size: 1.8rem;
            color: $app_black;
            &:before {
                content: '';
                display: inline-block;
                background-color: $app_red;
                width: 10px;
                height: 10px;
                @include border-radius(50%);
                margin-right: 10px;
            }
        }
    }
    img {
        @include border-radius(14px);
    }
}