$animation_duration: .5s;

.FilterPanel {
    width: 75vw;
    background-color: $app_white;
    @include display-flex;
    @include flex-direction(column);
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    visibility: hidden;
    right: -100%;
    z-index: $z_index_filter_panel;
    @include transition(all $animation_duration ease-in-out);
    &--visible {
        visibility: visible;
        right: 0;
    }
    &-title {
        color: $app_red;
        font-size: 2.1rem;
        font-weight: 600;
    }
    &-separator {
        height: 1px;
        width: 100%;
        background-color: $app_grey;
        margin: 15px 0;
    }
    &-list {
        &-designation {
            color: $app_black;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
        &-item {
            @include display-flex;
            @include align-items(center);
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            label {
                @include flex(1);
                margin-right: 10px;
            }
            &-badge {
                @include flex-center;
                height: 16px;
                padding: 0 10px;
                background-color: $app_blue;
                color: $app_white;
                font-size: 1.2rem;
                font-weight: 600;
                @include border-radius(8px);
            }
        }
    }
}