.Home {
    @include display-flex;
    @include flex-direction(column);
    &-logo {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }
}