.ListeProduits {
    // margin-top: 15px;
    &--scrollable {
        .ListeProduits {
            &-items {
                padding: 0;
                @include flex-wrap(nowrap);
                overflow-x: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    width: 0;
                    background: transparent;
                    height: 0;
                }
            }
            &-item {
                @include flex(0 0 auto);
                width: 40vw;
                margin: 0 !important;
                &:first-child {
                    margin-left: 15px !important;
                }
                &:not(:last-child) {
                    margin-right: 10px !important;
                }
            }
        }
    }
    &-header {
        @include display-flex;
        margin: 0 15px;
        &-titre {
            @include flex(1);
            font-weight: 600;
            font-size: 16px;
            color: $app_black;
        }
        &-showAll {
            @include display-flex;
            font-weight: 600;
            font-size: 14px;
            color: $app_red !important;
            text-decoration: underline !important;
            outline: none;
            img {
                margin-left: 10px;
            }
        }
    }
    &-items {
        @include display-flex;
        @include flex-wrap(wrap);
        padding: 0 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        &-spacer {
            @include flex(0 0 auto);
            width: 5px;
        }
    }
    &-item {
        outline: none;
        @include display-flex;
        @include flex-direction(column);
        padding: 10px;
        width: calc((100vw - 15px - 15px - 10px) / 2);
        height: 190px;
        background-color: white;
        @include border-radius(14px);
        @include box-shadow(0 2px 4px rgba(#000, 0.02));
        position: relative;
        &:nth-child(odd) {
            margin-right: 10px;
        }
        &:nth-child(n + 3) {
            margin-top: 10px;
        }
        &-plus {
            background-color: $app_blue;
            @include flex-center;
            width: 23px;
            height: 23px;
            position: absolute;
            top: 0;
            right: 0;
            @include border-radius(14px);
            @include border-bottom-left-radius(0);
        }
        &-prix {
            font-size: 12px;
            color: $app_black;
            font-weight: bold;
        }
        &-image {
            @include flex(1);
            @include flex-center;
        }
        &-stock {
            color: $app_green;
            font-size: 8px;
            @include display-flex;
            @include align-items(center);
            &-icon {
                width: 5px;
                height: 5px;
                background-color: $app_green;
                @include border-radius(50%);
                margin-right: 5px;
            }
            &--rupture {
                color: $app_dark_grey;
                .ListeProduits-item-stock-icon {
                    background-color: $app_dark_grey;
                }
            }
        }
        &-designation {
            font-size: 12px;
            color: $app_black;
            font-weight: 600;
        }
        &-quantite {
            font-size: 9px;
            color: $app_red;
            font-weight: 600;
        }
        &-marchand {
            font-size: 9px;
            color: $app_dark_grey !important;
            outline: none;
            text-decoration: underline !important;
        }
    }
}