.Modal {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $z_index_modal;
    overflow: auto;
    @include transition(all .5s ease-in-out);
    &--visible {
        top: 0;
    }
    &-content {
        @include transition(all .5s ease-in-out);
        position: relative;
        z-index: $z_index_modal;
        background-color: $app_grey;
        @include border-radius(30px);
        @include box-shadow(0 2px 7px rgba(#d3d93e, 0.15));
        margin: 15px;
        padding: 15px;
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        &--white {
            background-color: white;
        }
        &-logo {
            margin-top: 15px;
            @include border-radius(50%);
            @include flex-center;
            background-color: $app_white;
            @include box-shadow(0 4px 4px rgba(#000, 0.02));
            width: 44vw;
            min-height: 44vw;
            margin-top: 15px;
            margin-bottom: 10px;
            img {
                width: 30vw;
            }
        }
        &-title {
            margin-top: 15px;
            font-size: 3rem;
            color: $app_black;
            text-align: center;
            &--small {
                font-size: 2rem;
                margin-bottom: 15px;
                color: $app_red;
            }
        }
        &-subtitle {
            margin-top: 15px;
            color: $app_dark_grey;
            font-size: 1.6rem;
            text-align: center;
            strong {
                font-weight: 600;
                color: $app_black;
            }
        }
        &-input {
            @include display-flex;
            @include align-items(center);
            background-color: $app_white;
            height: 46px;
            padding: 0 15px;
            margin-top: 15px;
            width: 100%;
            @include border-radius(14px);
            @include box-shadow(0px 2px 4px rgba(#000, 0.02));
            &-icon {
                margin-right: 10px;
            }
            &-input {
                @include flex(1);
                input {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    color: $app_black;
                    font-size: 1.7rem;
                    outline: none;
                }
            }
        }
        &-text {
            margin-top: 15px;
            @include flex(1);
            color: $app_dark_grey;
            font-size: 1.8rem;
            text-align: center;
            &--error {
                color: $app_red;
            }
            strong {
                font-weight: 600;
            }
        }
        &-button {
            width: 100%;
            margin-top: 30px;
        }
        &-buttons {
            @include display-flex;
            @include align-items(center);
            @include justify-content(space-between);
            width: 100%;
            margin-top: 15px;
            &--center {
                @include justify-content(center);
            }
            &-item {
                @extend .Button--reset;
                color: $app_black;
                font-size: 1.4rem;
                text-decoration: underline;
            }
        }
        &-spacer {
            @include flex(1);
        }
        &-selectList {
            @include flex(1);
            @include display-flex;
            @include flex-direction(column);
            width: 100%;
            &-item {
                padding: 15px;
                &:not(:last-child) {
                    border-bottom: 1px solid $app_grey;
                }
                @extend .Radio;
                @include align-items(center);
                &-radio {
                    @extend .Radio-radio;
                    width: 25px;
                    height: 25px;
                    margin-right: 15px;
                    &:after {
                        width: 17px;
                        height: 17px;
                    }
                }
                &-input {
                    @extend .Radio-input;
                    &:checked + .Modal-content-selectList-item-radio {
                        border-color: $app_red;
                        &:after {
                            background-color: $app_red;
                        }
                    }
                }
                &-label {
                    @extend .Radio-label;
                    font-size: 2rem; 
                }
            }
        }
    }
}

.pac-container {
  background-color: #fff;
  position: absolute!important;
  z-index: 10000 !important;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden
}
.pac-item {
  cursor: pointer;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  color: #999;
}
.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}
