.Navbar {
    $navbar_height: 46px;

    @include display-flex;
    margin: 0 15px;
    margin-top: 10px;
    &--placeholder {
        height: $navbar_height;
    }
    @include transition(padding-bottom 0);
    &--stickTop {
        @include transition(background-color .5s ease-in-out);
        @include transition(box-shadow .5s ease-in-out);
        @include transition(padding-bottom .5s ease-in-out);
        position: fixed;
        top: 0;
        left: 0;
        background-color: $app_grey;
        @include box-shadow(0px 4px 4px rgba(#000, 0.05));
        margin: 0;
        padding: 15px;
        width: 100%;
        z-index: $z_index_navbar;
    }
    &-left, &-right {
        background-color: $app_white;
        height: $navbar_height;
        @include border-radius(14px);
        @include box-shadow(0px 2px 4px rgba(#000, 0.02));
    }
    &-left {
        margin-right: 10px;
        width: 41px;
        @include flex-center;
    }
    &-right {
        @include flex(1);
        @include display-flex;
        @include align-items(center);
        padding: 5px;
        &-icon {
            // width: 45px;
            @include flex-center;
            margin-left: 10px;
            margin-right: 10px;
            img {
                max-height: 34px;
                // height: 27px;
            }
        }
        &-content {
            width: 0;
            @include flex(1);
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            height: 100%;
            padding-right: 10px;
            &--noIcon {
                padding-left: 10px;
                .Navbar-right-content-title {
                    font-size: 1.7rem;
                    font-weight: normal;
                    span {
                        font-weight: 600;
                    }
                }
            }
            &-title {
                font-weight: 700;
                font-size: 1.7rem;
                color: $app_black;
                @include text-overflow-ellipsis;
            }
            &-subtitle {
                color: $app_blue;
                font-size: 1.2rem;
            }
            &-stock {
                color: $app_green;
                font-size: 1.1rem;
                @include display-flex;
                @include align-items(center);
                &-icon {
                    width: 5px;
                    height: 5px;
                    background-color: $app_green;
                    @include border-radius(50%);
                    margin-right: 5px;
                }
                &--rupture {
                    color: $app_dark_grey;
                    .Navbar-right-content-stock-icon {
                        background-color: $app_dark_grey;
                    }
                }
            }
        }
        &-filter {
            @include flex-center;
            background-color: $app_blue;
            width: 36px;
            height: 36px;
            @include border-radius(7px);
        }
        &-price {
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(center);
            margin-right: 10px;
            &-price1 {
                color: $app_blue;
                font-size: 2.5rem;
                font-weight: 600;
                text-align: right;
                line-height: 1;
            }
            &-price2 {
                color: $app_black;
                font-size: 1.2rem;
                text-align: right;
                line-height: 0.8;
            }
        }
        &-logout {
            @include flex-center;
            height: $navbar_height;
            padding: 0 10px;
        }
    }
}