.Page {
    @include display-flex;
    @include flex-direction(column);
    padding-bottom: 15px;
    &-logo {
        @include align-self(center);
        margin-top: 10px;
        margin-bottom: 10px;
        height: 6vh;
        img {
            height: 100%;
        }
        outline: none;
    }
    &-button {
        width: 100%;
        margin-top: 15px;
        padding: 0 15px;
        button {
            width: 100%;
        }
        &--placeholder {
            height: 70px;
        }
        &--stickBottom {
            position: fixed;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 15px;
            @include box-shadow(0px -4px 4px rgba(#000, 0.05));
            background-color: $app_grey;
            z-index: $z_index_page_button;
            width: 100%;
            @include transition(all .5s ease-in-out);
            visibility: visible;
            &--hidden {
                bottom: -100%;
                visibility: hidden;
            }
        }
    }
    &-link {
        @extend .Button--reset;
        margin-top: 30px !important;
        font-size: 1.4rem;
        color: $app_dark_grey;
        text-decoration: underline;
    }
}