.ProductCard {
    background-color: $app_white;
    @include border-radius(14px);
    @include box-shadow(0px 4px 4px rgba(#000, 0.02));
    padding: 15px;
    margin: 15px;
    margin-bottom: 0;
    &-image {
        @include flex-center;
        max-height: 60vw;
    }
    &-title {
        @include display-flex;
        @include align-items(center);
        &-icon {
            margin-right: 10px;
        }
        &-text {
            @include flex(1);
            font-size: 1.8rem;
            font-weight: 600;
            color: $app_black;
        }
    }
    &-contentText {
        margin-top: 10px;
        font-size: 1.5rem;
        color: $app_dark_grey;
        line-height: 1.5;
    }
    &-contentTable {
        margin-top: 10px;
        &-item {
            height: 45px;
            @include display-flex;
            @include align-items(center);
            @include justify-content(space-between);
            &:not(:last-child) {
                border-bottom: 1px solid #f2f2f2;
            }
            &-left {
                color: $app_dark_grey;
                font-size: 1.5rem;
            }
            &-right {
                font-size: 1.5rem;
                color: $app_black;
                font-weight: 600;
                a {
                    color: $app_blue;
                }
            }
        }
    }
}