$animation-duration: 0.5s;

@include keyframes(skelettonAnimation) {
  from {
    @include opacity(0.5);
  }
  to {
    @include opacity(1);
  }
}

.ProductsList {
  margin-top: 25px;
  &--scrollable {
    .ProductsList {
      &-items {
        padding: 0;
        @include flex-wrap(nowrap);
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          width: 0;
          background: transparent;
          height: 0;
        }
      }
      &-item {
        @include flex(0 0 auto);
        width: 40vw;
        margin: 0 !important;
        &:first-child {
          margin-left: 15px !important;
        }
        &:not(:last-child) {
          margin-right: 10px !important;
        }
      }
    }
  }
  &-header {
    @include display-flex;
    margin: 0 15px;
    &-titre {
      @include flex(1);
      font-weight: 600;
      font-size: 2rem;
      color: $app_black;
      @include text-overflow-ellipsis;
    }
    &-showAll {
      @include flex-center;
      font-weight: 600;
      font-size: 1.6rem;
      color: $app_red !important;
      text-decoration: underline !important;
      outline: none;
      img {
        margin-left: 10px;
      }
    }
  }
  &-items {
    @include display-flex;
    @include flex-wrap(wrap);
    padding: 0 15px;
    margin-top: 15px;
    &-spacer {
      @include flex(0 0 auto);
      width: 5px;
    }
  }
  &-item {
    outline: none;
    @include display-flex;
    @include flex-direction(column);
    padding: 10px;
    width: calc((100vw - 15px - 15px - 10px) / 2);
    height: 230px;
    background-color: white;
    @include border-radius(14px);
    @include box-shadow(0 2px 4px rgba(#000, 0.02));
    position: relative;
    &:nth-child(odd) {
      margin-right: 10px;
    }
    &:nth-child(n + 3) {
      margin-top: 10px;
    }
    &-price,
    &-image,
    &-designation,
    &-stock,
    &-quantity,
    &-merchant {
      outline: none;
    }
    &-addToCart {
      margin: 7px;
      background-color: $app_blue;
      @include flex-center;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 0;
      right: 0;
      @include border-radius(14px);
      &--off {
        background-color: $app_off;
        pointer-events: none;
      }
    }
    &-price {
      font-size: 1.5rem;
      color: $app_black;
      font-weight: bold;
    }
    &-image {
      @include flex(1);
      @include flex-center;
      @include background-size(contain);
      background-position: center;
      background-repeat: no-repeat;
      height: 0;
      margin-top: 10px;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    &-designation {
      margin-top: 10px;
      font-size: 1.5rem;
      color: $app_black;
      font-weight: 600;
      @include text-overflow-ellipsis();
    }
    &-quantity {
      font-size: 1.2rem;
      color: $app_red;
      font-weight: 600;
    }
    &-merchant {
      font-size: 1.2rem;
      color: $app_dark_grey !important;
      outline: none;
      text-decoration: underline !important;
      @include text-overflow-ellipsis();
    }
    &--skeletton {
      @include justify-content(space-between);
      > div {
        background-color: #f4f4f4;
        @include border-radius(7px);
      }
      .ProductsList-item {
        &-skeletton1,
        &-skeletton2,
        &-skeletton3,
        &-skeletton4,
        &-skeletton5 {
          @include animation(
            skelettonAnimation,
            $animation-duration,
            ease-in-out,
            false,
            infinite,
            alternate
          );
        }
        &-skeletton1 {
          width: 30%;
          height: 14px;
        }
        &-skeletton2 {
          width: 100%;
          height: 105px;
        }
        &-skeletton3 {
          width: 50%;
          height: 14px;
        }
        &-skeletton4 {
          width: 20%;
          height: 14px;
        }
        &-skeletton5 {
          width: 60%;
          height: 14px;
        }
      }
    }
  }
}
