.Radio {
    @extend .Checkbox;
    &-radio {
        @extend .Checkbox-checkbox;
        @include border-radius(50%);
        &:after {
            @include border-radius(50%);
        }
    }
    &-input {
        @extend .Checkbox-input;
        &:checked + .Radio-radio {
            &:after {
                @include border-radius(50%);
            }
        }
    }
    &-label {
        @extend .Checkbox-label;
    }
}