.Recherche {
    @include display-flex;
    @include align-items(center);
    margin: 0 15px;
    margin-top: 10px;
    &--stickTop {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $app_grey;
        @include box-shadow(0px 4px 4px rgba(#000, 0.05));
        margin: 0;
        padding: 15px;
        width: 100%;
        z-index: 2000;
        .Recherche-close {
            @include opacity(1);
            margin-left: 10px;
            width: auto;
        }
    }
    &-content {
        @include flex(1);
        @include display-flex;
        @include align-items(center);
        background-color: $app_white;
        height: 46px;
        padding: 0 15px;
        @include border-radius(14px);
        @include box-shadow(0px 2px 4px rgba(#000, 0.02));
        &-icon {
            margin-right: 10px;
        }
        &-input {
            @include flex(1);
            input {
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;
                color: $app_black;
                font-size: 14px;
                outline: none;
            }
        }
    }
    &-close {
        @include flex-center;
        @include transition(all .5s);
        @include opacity(0);
        width: 0;
    }
}