.SearchBar {
    $recherche_height: 46px;

    @include display-flex;
    @include align-items(center);
    margin: 0 15px;
    margin-top: 10px;
    &--placeholder {
        height: $recherche_height;
    }
    @include transition(padding-bottom 0s);
    &--stickTop, &--topbarMode {
        @include transition(background-color .5s ease-in-out);
        @include transition(box-shadow .5s ease-in-out);
        @include transition(padding-bottom .5s ease-in-out);
        position: fixed;
        top: 0;
        left: 0;
        background-color: $app_grey;
        @include box-shadow(0px 4px 4px rgba(#000, 0.05));
        margin: 0;
        padding: 15px;
        width: 100%;
        z-index: $z_index_search;
        .SearchBar-close {
            @include flex-center;
            margin-left: 10px;
            width: auto;
        }
    }
    &--topbarMode {
        top: -100%;
        @include transition(top .5s ease-in-out);
    }
    &--topbarVisible {
        top: 0;
    }
    &-content {
        @include flex(1);
        @include display-flex;
        @include align-items(center);
        background-color: $app_white;
        height: $recherche_height;
        padding: 0 15px;
        @include border-radius(14px);
        @include box-shadow(0px 2px 4px rgba(#000, 0.02));
        &-icon {
            margin-right: 10px;
        }
        &-input {
            @include flex(1);
            input {
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;
                color: $app_black;
                font-size: 1.7rem;
                outline: none;
            }
        }
    }
    &-close {
        display: none;
        margin: 0;
        width: 0;
    }
}