.SousCategories {
    margin-top: 15px;
    margin-bottom: 15px;
    // padding-right: 15px;
    @include display-flex;
    @include flex-wrap(nowrap);
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
    &-item {
        outline: none;
        @include flex(0 0 auto);
        &:first-child {
            margin-left: 15px;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        @include flex-center;
        @include flex-direction(column);
        @include border-radius(14px);
        @include box-shadow(0 2px 4px rgba(#000, 0.03));
        background-color: white;
        // width: 68px;
        // height: 68px;
        width: 18vw;
        height: 18vw;
        &-icon {
            @include flex(1);
            @include flex-center;
        }
        &-text {
            margin-bottom: 5px;
            color: $app_black;
            font-size: 8px;
            font-weight: 600;
        }
    }
    &-spacer {
        @include flex(0 0 auto);
        width: 5px;
    }
}