.MerchantDetails {
    background-color: $app_white;
    width: 100vw;
    margin-top: 15px;
    &-banner {
        height: 42vw;
        @include background-size(cover);
        position: relative;
        &-logo {
            width: 28vw;
            height: 28vw;
            background-color: $app_white;
            @include border-radius(14px);
            @include box-shadow(0 4px 4px rgba(#000, 0.25));
            position: absolute;
            bottom: 15px;
            left: 15px;
            @include flex-center;
            img {
                max-width: 80%;
                max-height: 80%;
            }
        }
    }
    &-title {
        font-size: 2.5rem;
        color: $app_black;
        margin: 15px;
        margin-bottom: 15px;
    }
    &-infos {
        @include display-flex;
        @include align-items(center);
        margin: 15px;
        margin-bottom: 15px;
        &-price {
            color: $app_black;
            font-size: 2.2rem;
            font-weight: 600;
            margin-right: 5px;
            margin-top: 2px;
        }
        &-separator {
            color: #f2f2f2;
            font-size: 2.2rem;
            font-weight: 600;
            margin-right: 5px;
        }
        &-stars {
            @include flex-center;
            img {
                margin-right: 3px;
            }
            margin-right: 5px;
        }
        &-text {
            font-size: 1.8rem;
            color: $app_black;
            margin-top: 2px;
        }
    }
    &-moreButton {
        margin: 15px;
        margin-bottom: 15px;
        @include flex-center;
        height: 55px;
        padding: 15px;
        @include border-radius(14px);
        background-color: #fafafa;
        &-icon {
 
        }
        &-text {
            @include flex(1);
            color: $app_black;
            font-size: 1.6rem;
            margin-left: 15px;
        }
    }
    &-map {
        height: 42vw;
        background-color: $app_blue;
    }
    &-moreDetails {
        @include display-flex;
        @include flex-direction(column);
        padding: 15px;
        &:not(:last-child) {
            border-bottom: 3px solid $app_grey;
        }
        &-title {
            color: $app_black;
            font-size: 1.8rem;
            font-weight: bold;
        }
        &-item {
            margin-top: 15px;
            @include display-flex;
            @include align-items(center);
            &-icon {
                margin-right: 15px;
            }
            &-text {
                @include flex(1);
                font-size: 1.7rem;
                color: $app_dark_grey;
                &--black {
                    color: $app_black;
                }
                strong {
                    color: $app_black;
                    font-weight: 600;
                }
            }
        }
    }
}
