.MerchantsList {
    @include display-flex;
    @include flex-direction(column);
    &-item {
        @include display-flex;
        @include border-radius(14px);
        background-color: $app_white;
        @include box-shadow(0 4px 4px rgba(#000, 0.02));
        overflow: hidden;
        margin: 15px;
        margin-bottom: 0;
        height: 37vw;
        &-image {
            width: 28vw;
            @include border-bottom-right-radius(14px);
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        &-content {
            @include flex(1);
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(space-between);
            padding: 15px;
            &-name {
                font-size: 1.9rem;
                color: $app_black;
            }
            &-address {
                color: $app_dark_grey;
                font-size: 1.4rem;
            }
            &-quantity {
                font-size: 1.4rem;
                font-weight: 600;
                color: $app_blue;
            }
        }
    }
}