// regular style toast
@import '~ngx-toastr/toastr';

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';

@import '../node_modules/nprogress/nprogress.css';

body{
  height: 100vh;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.card-ecommerce{
  .card-cascade{
    height: 100% !important;
  }
}

.toast-container{
  top: 80px;
  .toast-header{
    background-color: #16a085;
    color: #fff;
    opacity: 0.8;
  }
  .toast-message{
    width: 250px;
    padding: 10px;
  }
}
.panel-heading {
  background: #3d3d3d;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
}
.panel-body {
  padding: 30px;
  border: 1px solid #3d3d3d;
}
.panel {
  margin: 20px 0 20px 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
main {
  background: #e9ecef66;
}
.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 20px;
  min-width: 20px;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.angular-tel-input {
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  outline: none;
  padding: 18.5px 14px 18.5px 58px;
  transition: box-shadow ease .25s,border-color ease .25s;
}
.angular-tel-input-error {
  font-size: 16px;
  background: #FFFFFF;
  border: 2px solid red;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  outline: none;
  padding: 18.5px 14px 18.5px 58px;
  transition: box-shadow ease .25s,border-color ease .25s;
}
